<style>
  #yellow-flag {
    position: relative;
    width: 97%;
    height: 94%;
    background: rgba(255, 255, 0, 1);
    display: none;
  }
  #blue-flag {
    position: relative;
    width: 97%;
    height: 94%;
    background: rgb(38, 0, 255, 1);
    display: none;
    overflow: hidden;
  }
  #blue-flag .line {
    width: 140%;
    height: 27px;
    background: rgba(255, 255, 0, 1);
    -webkit-transform:
        translateY(-20px)
        translateX(5px)
        rotate(27deg); 
    transform: rotate(27deg) translateX(5px) translateY(-20px);
    position: absolute;
    top: 33px;
    left: -70px;
  }
  #box-box-box {
    position: relative;
    width: 97%;
    height: 94%;
    background: rgba(255, 179, 0, 1);
    display: none;
  }
  #box-box-box h1 {
    padding: 0;
    font-weight: 900;
    margin: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: -35px;
  }
  .show-flag {
    display: flex !important;
  }
h1 {
  font-size: 1.5em;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent div { border: 1px solid #627680; padding: 3px;}
.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 1 / 3 / 2 / 4; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div8 { grid-area: 1 / 4 / 2 / 5; }
.div9 { grid-area: 2 / 4 / 3 / 5; }
.div10 { grid-area: 3 / 4 / 4 / 5; }
.div11 { grid-area: 1 / 5 / 2 / 6; }
.div12 { grid-area: 2 / 5 / 3 / 6; }
.div13 { grid-area: 3 / 5 / 4 / 6; padding: 0 !important; }
.div14 { grid-area: 4 / 1 / 5 / 6; }
.div15 { grid-area: 5 / 1 / 6 / 6; }

</style>

<div id="bot-box-6"><span>Time Left</span> <h2>{{SessionTimeRemain}}</h2></div>
<div class="parent" style="width: 1000px;">
  <div style="position: relative;" class="div1">
    <div style="width: 50px; height: 93%; border: 1px solid #111111; position: absolute; display: inline-block; bottom: 2px; padding: 0; left: 30px;">
      <div style="width: 100%; background: rgb(204, 0, 0); height: 100%; position: absolute; bottom: 0; border:none;padding: 0;"
      [ngStyle]="{'max-height': brakePerc + '%'}"></div>
    </div>
    
    <div style="width: 50px; height: 93%; border: 1px solid #111111; position: absolute; display: inline-block;bottom: 2px; right: 30px;padding: 0;">
      <div style="width: 100%; background: #07c; height: 100%; position: absolute; bottom: 0; border: none;padding: 0;"
      [ngStyle]="{'max-height': throttlePerc + '%'}"></div>
    </div>
  </div>
  <div class="div2">
    <div style="display: inline-block; margin-left: 30px; border: none;">
      <img src="../assets/img/wheel.png" style="width: 120px; height: 78px;"
        [ngStyle]="{'transform': 'rotate(' + wheelAngle + 'deg)'}"/>
    </div>
  </div>
  <div class="div3"><small>Gear</small> <h1>{{Gear}}</h1></div>
  <div class="div4"><small>Speed</small> <h1>{{Speed}}</h1></div>
  <div class="div5"><small>SoC</small> <h1>{{SoC}}</h1></div>
  <div class="div6"><small>Delta</small> <h1>{{Delta}}</h1></div>
  <div class="div7"><small>Track Temp</small> <h1>{{Temp}}°C</h1></div>
  <div class="div8"><small>Deploy</small> <h1>{{Deploy}}</h1></div>
  <div class="div9"><small>Fuel(L)/Fuel Per Lap(L)</small> <h1>{{FuelLevel}} / {{FuelPerLap}}</h1></div>
  <div class="div10">10</div>
  <div class="div11"><small>Deploy Mode</small> <h1>{{DeployMode}}</h1></div>
  <div class="div12"><small>Fuel Est Laps</small> <h1>{{FuelLapsLeft}}</h1></div>
  <div class="div13">
    <div style="border: none;" [ngClass]="{'show-flag': Flags.indexOf('BlueWaving') > -1}" id="blue-flag"><div class="line"></div></div>
    <div style="border: none;" [ngClass]="{'show-flag': Flags.indexOf('YellowWaving') > -1}" id="yellow-flag"></div>
    <div style="border: none;" [ngClass]="{'show-flag': BoxBoxBox || FuelLapsLeft < 1.1}" id="box-box-box">
      <h1 style="position: relative; top: 5px; font-size: 1em;">BOX THIS LAP <br/> {{FuelLevel}} <small>L</small></h1>
    </div>
  </div>
  <div class="div14">
    <div style="border: none;">
      <small>Throttle Trace</small>
      <canvas #throttlecanvas id="chart" width="985px" height="150px"></canvas>
    </div>
  </div>
  <div class="div15">
    <small>Brake Trace</small>
    <div style="border: none;">
        <canvas #brakecanvas id="chart" width="985px" height="150px"></canvas>
    </div>
  </div>
</div>